<a href="https://colab.research.google.com/github/vinceeee4/CCINCOML_EXERCISES/blob/main/exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [25]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [26]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
month[3]

'April'

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [22]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
month[8:]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [21]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
month[0:8]

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August']

4. List Methods

- Get the size of the month list using the `len()` method

In [20]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
len(month)

12

- Get the element with the largest value of the month list using `max()`

In [19]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
max(month)

'September'

- Get the element with the smallest value of the month list using `min()`

In [18]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
max(month)

'September'

- Sort the months of the year by alphabetical order using the `sorted()` function

In [17]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
sorted(month)

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [16]:
month, day, year = (2,11,2003)
print("My Birthdate is " + str(month) + "/" + str(day) + "/" + str(year))

My Birthdate is 2/11/2003

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [14]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [13]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [12]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
convert_products = set(products)
print(convert_products)

{'speakers', 'headphones', 'keyboard', 'smartphone', 'laptop', 'projector', 'monitor', 'mouse', 'tablet', 'printer', 'powerbank'}

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [11]:
# put your answer here

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [9]:

products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
convert_products = set(products)
"headphones" in convert_products

True

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [10]:
favorites = {"food": "adobo", "color": "black", "sport": "esports", "drink": "chocolatedrink", "dessert": "icecream"}

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [6]:
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
for i in month:
  if i >= "September":
    break
  else:
    print(i)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [5]:
for i in range(5):
    print("Vince")

Vince
Vince
Vince
Vince
Vince

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [4]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []
for name in names:
  usernames.append(name.lower().replace(' ',','))
print(usernames)

['joey,tribbiani', 'monica,geller', 'chandler,bing', 'phoebe,buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [3]:

month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
i = 0
while i < len(month):
  print (month[i])
  i=i+1;
  if i >=8:
    break

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [2]:
def population_density(population, land_area):
    return population/land_area

population_density(6000,50)

120.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [1]:
def averagesteps(sunday, monday, tuesday, wednesday, thursday, friday, saturday):
    return sunday+monday+tuesday+wednesday+thursday+friday+saturday/7

averagesteps(5000,6097,10000,6784,8090,4501,10000)/7

5985.7959183673465